/*reset css*/
*{
    margin:0;
    padding:0;
    touch-action: manipulation;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
}
*:focus{
    outline: none;
}
a{
    text-decoration: inherit;
    color:inherit;
}

/*style*/
.container{
    text-align: center;
    width: 80%;
    margin:0 auto;
}
header{
    background-color: greenyellow;
    font: size 36px;
}
.main-wrapper{
    margin:10% auto;
}
#inf{
    display:block;
    width: 100%;
    padding-top:100%;
    margin:0 auto;
    border-radius:50%;
    position:relative;
    color: black;
    text-align: center;
    cursor: pointer;   
    user-select: none;
    border-top: solid 1px#000;
    border-bottom: solid 8px#000;
    border-left: solid 1px #000;
    border-right: solid 2px #000;
}
#name{
    font-size:36px;
    width:100%;
    padding-top:45%;
    position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
}
#inf:active {
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
}
.btn{
    width:80%;
    padding-top:32%;
    border-radius:5px;
    background-color: gray;
    color:white;
    margin:10px auto;
    border-bottom:solid 4px #000;
    position: relative;
}
.btn > .text{
    font-size: 24px;
    width:100%;
    padding-top:14%;
    position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    border-bottom:none;
}
.modal{
    height: 200px;
    border-radius: 5px;
    text-align: center;
}

label > input {
display:none; /* アップロードボタンのスタイルを無効にする */
}
label{
    display:block;
}
@media screen and (min-width: 1024px) {
    /* 1024 px以上用（PC用）の記述 */
    .main-wrapper{
        margin:2% auto;
    }
    #inf {
        width: 50%;
        padding-top:50%;
    }
    .btn{
        width:80%;
        padding-top:8%;
    }
    .btn > .text{
       padding-top:3%;
    }
}        